<nav class="navbar navbar-expand-lg navbar-light sticky-top bg-white mb-0">
  <div class="container">
  <div><span style="font-size: 1.4em;" class="purple jam jam-fish pr-2"></span><a class="navbar-brand purple logo-font" href="#"><em><b> Beluga Buffalo</b></em></a></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon py-1"><i class="jam jam-arrows-v purple"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link purple" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link purple" href="#">Link</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
