<div class="row mx-5">
	<figure class="figure col-md-3">
		<img src="https://cdn.shopify.com/s/files/1/0223/7461/products/B18BAR-SG-OPV3.png?v=1540480408" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
    <figcaption class="violet figure-caption">A caption for the above image.</figcaption>
  </figure>
  <figure class="figure col-md-3">
		<img src="https://cdn.shopify.com/s/files/1/0223/7461/products/B18BAR-SG-OPV3.png?v=1540480408" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
    <figcaption class="figure-caption">A caption for the above image.</figcaption>
  </figure>
  <figure class="figure col-md-3">
		<img src="https://cdn.shopify.com/s/files/1/0223/7461/products/B18BAR-SG-OPV3.png?v=1540480408" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
    <figcaption class="figure-caption">A caption for the above image.</figcaption>
  </figure>
  <figure class="figure col-md-3">
		<img src="https://cdn.shopify.com/s/files/1/0223/7461/products/B18BAR-SG-OPV3.png?v=1540480408" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
    <figcaption class="figure-caption">A caption for the above image.</figcaption>
  </figure>
</div>