<div class="jumbotron space rounded-0 welcome mt-0">
  <div class="container">
  <div class="row">
    <div class="col-6 white">
      <h1 class="oswald white mt-3"><b>Welcome Amigos</b></h1>
      <p class="mt-5" style="opacity: .8;">Have a whale of a time.</p>
    </div>
    <div class="col-6 white image">
      <img class="img-fluid px-5" src="https://clipart.wpblink.com/sites/default/files/wallpaper/blue-whale-clipart/460376/blue-whale-clipart-printable-460376-7805518.png"/>
  </div>
  </div>
</div>