<div class="jumbotron text-center bg-purple rounded-0 welcome mt-0">
  <p class="display-4 oswald white">Welcome Amigos </p>
  <div class="row justify-content-center">
    <div class="col-6 white">
      <p class="mt-5" style="opacity: .8;">Have a whale of a time.</p>
    </div>
    <div class="col-6 white">
      <img class="img-fluid px-5" src="https://clipart.wpblink.com/sites/default/files/styles/225x120/public/wallpaper/killer-whale-clipart/252296/killer-whale-clipart-arctic-whale-252296-8592648.png?itok=QX2EakVq"/>
  </div>
</div>