/* Add application styles & imports to this file! */
body{
  background: #FFBFB7;
}

hr{
  border: solid .3px #fff;
}

.transparent{
  background: transparent;
}

.white{
  color: #fff !important;
}

.purple{
  color: #320D6D !important;
}

.peach{
  color: #FFBFB7 !important;
}