/* Add application styles & imports to this file! */
body{
  background: #fff;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto', sans-serif;
}

hr{
  border: solid .3px #fff;
}

.transparent{
  background: transparent;
}

.white{
  color: #fff !important;
}

.bg-white{
  background: #fff !important;
}

.purple{
  color: #5D2E8C !important;
}

.bg-purple{
  background: #5D2E8C !important;
}

.logo-font{
  font-family: 'Gloria Hallelujah', cursive !important;
}

.oswald{
  font-family: 'Oswald', sans-serif !important;
}